%h2 Abilities
%br
%h3 Development skills
.alert
  I have a strong front-end development skill set with a solid understanding of HTML5, CSS3, and javascript. I also have good experience working with rails and mobile applications.
%ul
  %li Extremely strong understanding of css including cross browser issues, object oriented css, css3 animations and techniques, and implementing third party toolkits such as compass and twitter's bootstrap.
  %li I understand javascript beyond knowing how to just use jQuery (though I use the library and love it). I understand popular design patterns such as the module and facade patterns, and have implemented them in projects. I have some experience working with Backbone.js and testing code with Jasmine. And I'm all about coffee script!
  %li Intermediate experience with Ruby on Rails, including work within a large code base, test driven development using Rspec and Cabybara (and Selenium for integration tests), and deploying to remote environments via Heroku.
  %li Mobile web based application experience. I have used both jQuery Mobile and Sencha Touch for frameworks on previous projects.
  %li Version control with Git (github and Bitbucket).
  %li Plenty of experience working with content managements systems including Wordpress, Locomotive, Harmony, and Expression Engine.
  %li It may be a dying technology, but I do also have flash/actionscript skills

%br
%h3 Design skills
.alert
  I love user interface design and the unique blend of creativity and logical thought that go into it. While design has not been my main role for quite some time, I have been a part of interface design projects and am hoping to expand on this in future projects.
%ul
  %li User Interface design and iteration based on client feedback. 
  %li Pixel perfect attention to detail, and really strive for design simplicity.
  %li Strong understanding of usability, information architecture, and design principles.
  %li Experience with A/B testing and other site optimization techniques
  %li Graphic design experience including branding and print production.
  %li Strong photography skills, both technically and conceptually. Yeah, I know everyone thinks they are a photographer, but I actually worked as a photographers assistant for a year and was able to gain some professional insight. Plus I love taking photos.