#resume.container
  .content
    %section.vcard
      .page-header
        %h1 Paul Tannenbaum
        %h2
          %small 
            Cell: 
            %a{:href => "tel:+1-415-994-5965"} (415) 994-5965
            | Email: 
            %a{:href => "mailto:paultannenbaum@gmail.com", :target => "_blank"} paultannenbaum@gmail.com
    
    %section.spiel
      .page-header
        %h3 I am a web developer and designer located in San Francisco. The majority of my work history has been in front-end development, though I do have experience contributing to projects in Rails development and user interface design. I have a strong attention to detail, can wear many different hats in a product lifecycle, and work very well in agile teams.
        %br
        %h3 I am interested in many different aspects of application development and am willing to explore different opportunities in this field. Most importantly, I want to work on projects that I find exciting and have great teams behind them. 
    
    %br
    
    %section.skills
      .page-header
        = render :partial => 'resume-skills'
        
    %br
    
    %section.work
      .page-header
        = render :partial => 'resume-work'
    
    %br
    
    %section.education
      .page-header
        = render :partial => 'resume-education'
    
    %br
    
    %section.misc
      %h1 Hobbies
      %p Finding my way into bowls! Mostly in the water on a surfboard, but sometimes I'll grab a different tool and attempt finding them in the snow or on the streets of SF. I also really like a good live show and late night Mexican food.
    
      %h1 References
      %p Available Upon Request