= content_for :header do 
  :css
    html { overflow-y: scroll; }
#resume.container    
  .content
    %section.vcard
      .page-header
        %h1.me Paul Tannenbaum
        %h2
          %small 
            %span.contact_phone
              Cell:
              %a{href: "tel:+1-415-994-5965"} (415) 994-5965
            %span.divider &#124;
            %span.contact_email
              Email: 
              %a{href: "mailto:paultannenbaum@gmail.com", target: "_blank"} paultannenbaum@gmail.com

    %section.spiel.hide_for_phone
      %h3 I am a web developer and designer located in San Francisco. I have worked primarily in front-end development, but also have experience contributing to projects in Rails development and user interface design. I am able to wear multiple hats throughout the lifecycle of a product, work well in agile teams, and am very detailed oriented.
      %br
      %h3 I am interested in all aspects of application development, and am willing to explore different opportunities in this field. Most importantly, I want to work on exciting projects with great team members.

    
    %section.information
      %ul#Nav-Tab.nav.nav-tabs
        %li.active
          %a{href: "#skills", data: {toggle: "tab"}} Skills
        %li 
          %a{href: "#work", data: {toggle: "tab"}} Work History
        %li      
          %a{href: "#education", data: {toggle: "tab"}} Education
        %li.hide_for_phone
          %a{href: "#hobbies", data: {toggle: "tab"}} Hobbies
        %li.hide_for_phone
          %a{href: "#references", data: {toggle: "tab"}} References
      .tab-content
        #skills.tab-pane.active.in
          .page-header
            = render partial: 'resume-skills'
        #work.tab-pane
          .page-header
            = render partial: 'resume-work'
        #education.tab-pane
          .page-header
            = render partial: 'resume-education'
        #hobbies.tab-pane.hide_for_phone
          .page-header
            %h3 When I'm not behind a computer I enjoy being outside. I love surfing, snowboarding, live music, and mexican food.
        #references.tab-pane.hide_for_phone
          .page-header
            %h3 Available upon request