.container-fluid
  .content
    #baumer
      %h1
        %strong BaumerDesigns
      %h2 Thanks for finding me on the interwebz.
      %h2
        My name is Paul Tannenbaum. I am a web developer and designer located in San Francisco. You can find me on
        = succeed "," do
          %a.teal{:href => "http://twitter.com/PaulTannenbaum", :target => "_blank"} Twitter
        = succeed "," do
          %a.cherry{:href => "http://www.linkedin.com/pub/paul-tannenbaum/4/6b2/924", :target => "_blank"} LinkedIn
        \&
        = succeed "." do
          %a.salmon{:href => "http://about.me/paultannenbaum", :target => "_blank"} About.Me
      %h2 I am currently taking on contract work at the moment.
      %h3
        %a.sky_blue{:href => "mailto:paul@baumerdesigns.com"} Contact Me Via Email