#skills.tab-pane.active.in
  .page-header
    %h3 Development skills
    .alert
      I have a strong front-end development skill set with a solid understanding of HTML5, CSS3, and Javascript. I also have solid experience working with Ruby on Rails and mobile applications.
    %ul
      %li
        Thorough understanding of Javascript. I am familiar with many different design patterns and libraries, and know the advantages and disandvantages of each. I am experienced in using javascript for advanced DOM manipulations, as well as using javascript for building applications in a MVCish style approach. Some coffeescript experience.
      %li
        Extremely strong understanding of CSS including cross browser issues, object oriented CSS, CSS3 animations and techniques, and implementing compilers and third party toolkits (sass, compass, etc.).
      %li
        Intermediate experience with Ruby on Rails. Expereince working within a large code base using agile methodoligies (test driven development that tests all aspects of the application, iterative approaches, etc.)
      %li
        Experience with Git and Mercurial version control systems both for personal use and within teams.
      %li
        Mobile web application experience.
    %br/
    %h3 Design skills
    .alert
      I love user interface design and the unique blend of creativity and logical thought that go into it. While design has not been my main role for quite some time, I have been a part of interface design projects and am hoping to expand on this in future projects.
    %ul
      %li User Interface design and iteration based on client feedback.
      %li Strong understanding of usability, information architecture, and design principles.
      %li Experience with A/B testing and other site optimization techniques
      %li Graphic design experience including branding and print production.
      %li Pixel perfect attention to detail.
      %li Strong photography skills, both technically and conceptually.