#work.tab-pane
  .page-header
    / %h3
    /   %a{:href => "/"} Baumer Designs
    / %h3
    /   %small Freelance/Contract Developer - San Francisco, CA - February 2012 - Present
    / %p
    /   In the last few months I have been taking on contract work. I built a
    /   %a{:href => "http://oticonf.globalorthopaedics.org/", :target => "_blank"} mobile web app
    /   for a medical conference hosted by the University of California, San Francisco and have been maintaining and improving the Rails back-end of popular surf website
    /   = succeed "." do
    /     %a{:href => "http://korduroy.tv/", :target => "_blank"} Korduroy.tv
    /   I also did some traveling and just recently returned back to the United States.
    / %br/

    %h3
      %a{:href => "http://www.rga.com/"} R/GA
    %h3
      %small Javascript Developer - San Francisco, CA - July 2012 - March 2013
    %p
      RGA is a large digital advertising agency where I worked as a contractor, primarily doing javascript development. During that time I worked on various client projects for Microsoft, Nike, and JCPenney. These projects ranged from Facebook applications to interactive websites to mobile web apps, all using different technology stacks due to client specific needs. Projects usually used either
      %a{:href => "http://backbonejs.org/", :target => "_blank"} Backbone
      or
      %a{:href => "http://knockoutjs.com/", :target => "_blank"} Knockout
      javascript libraries on the front-end, and the
      %a{:href => "http://www.microsoft.com/net", :target => "_blank"} .NET
      framework on the backend. All projects were localized for foreign markets, and had extensive QA testing (device testing, load balancing, etc.).
    %br/

    .alert.alert-info
      %p
        %b Social Chorus
        was previously
        %b Halogen.
        After a pivot in business focus, Halogen rebranded itself as Social Chorus. I have them listed as two separate jobs because my role as a developer changed drastically after the transition. Career-wise I was with the same company for two years.

    %h3
      %a{:href => "http://socialchorus.com/", :target => "_blank"} Social Chorus
    %h3
      %small Full Stack Developer - San Francisco, CA - August 2011 - February 2012
    %p
      Social Chorus offers digital marketing strategy and software to several fortune 500 brands. As a developer, I was in charge of building their influencer relationship management platform. Thanks to some help from the great folks at
      = succeed "," do
        %a{:href => "http://pivotallabs.com/", :target => "_blank"} Pivotal Labs
      our team instilled strict agile practices including daily stand-ups, paired programming, and test driven development for every piece of functionality. The technology stack was Rails 3.2 with deployment on Heroku, unit tested with Rspec, Jasmine, and Selenium. The application ran continuous integration tests with Jenkins on an EC2 instance that fired a new build every time there was a push to our Github repo. I was with the product from inception to it's beta release and learned an incredible amount about the Ruby language and application architecture. With regards to design, I helped shape the user interface by meeting daily with the design team to discuss potential issues and offer alternative solutions.
    %br/

    %h3
      %a{:href => "http://www.halogennetwork.com/", :target => "_blank"} Halogen
    %h3
      %small Lead Front End Developer - San Francisco, CA - March 2010 - August 2011
    %p
      Before Social Chorus' pivot, the company was known as Halogen and  was an advertising agency and network that worked mainly with "affluent brands". All agency development was done in house. All applications were put into rails projects, version controlled, code reviewed and refactored. I was given a wide array of work, from creating Facebook applications, custom content management systems, wire-framing and design work, embeddable rich media ad units, and high traffic websites. As the "front-end guy", I faced many unique challenges, including dabbling with html5 technologies and wrangling legacy browsers (including IE6) into pixel perfect websites. I also trained several employees and advised management on technology direction.
    %br/

    %h3
      %a{:href => "http://orthosurg.ucsf.edu/patient-care/mission-bay.html", :target => "_blank"} UCSF
    %h3
      %small Development Consultant - San Francisco, CA - January 2010 - March 2010
    %p
      Did a wide range of work for the university on their website including cleaning up and refactoring legacy code, training employees on how to use the content management system, and helping transition data from their old cms to the newly developed one. I also built a custom CMS for one of their departments,
      = succeed "." do
        %a{:href => "http://globalorthopaedics.org/", :target => "_blank"} The Institute for Global Orthopaedics & Traumatology
      The department was dissatisfied with the status of their website: information was hard to find, load times were slow, the content management system was useless, and the website was not cross browser compatible. Working with their administrators, I did a complete overhaul of the information architecture and built a website with simple content management capabilities that was so well received that the
      %a{:href => "http://orthosurg.ucsf.edu/patient-care/mission-bay.html", :target => "_blank"} entire department
      used it as development model during their platform update.
    %br/

    %h3
      %a{:href => "http://www.oniracom.com/", :target => "_blank"} Oniracom
    %h3
      %small Front End Developer - Santa Barbara, CA - 2009-2010
    %p
      Worked several long term contract jobs with music industry specialist Oniracom. Oniracom is a marketing agency that deals mostly with well-known musicians and Hollywood celebrities. I worked in their online division and primarily worked as a front-end developer, building many of their websites. The company used
      %a{:href => "http://expressionengine.com/", :target => "_blank"} Expression Engine
      for content management, and I did have to do some PHP work to tie the front-end to the cms. I also did website design work for the agency.